# Salesforce Marketing Cloud Custom Activity
# Use o JWT Signing Secret (antiga App Signature) do Installed Package.
JWT_SIGNING_SECRET=

# Redis
REDIS_URL=

# OAuth usado pelo endpoint execute para chamar a API externa/Marketing Cloud
bearer_token_url=
client_id=
client_secret=
insert_de_url=
