body {
    background-color: #f8f8f8;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

main section.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main h1, main h2 {
    text-align: center;
    font-size: 2rem;
}

main form {
    display: flex;
    flex-direction: column;
}

main form label, main form input {
    margin-bottom: 5px;
    font-size: 1.25rem;
}
main form label {
    cursor: pointer;
}

main form input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #3a3a3a;
}
